<div class="header"> Frequently Asked Questions</div>

<div class="container">
  <div class="question">When we arrive at the airport, how do we get to our location?</div>
  <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
</div>

<div class="line"></div>

<div class="container">
  <div class="question">How will we know our bus driver?</div>
  <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
</div>

<div class="line"></div>

<div class="container">
  <div class="question">Who will meet us in sligo?</div>
  <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
</div>

<div class="line"></div>

<div class="container">
  <div class="question">Will the host famillies show the students how to get to hello meeting?</div>
  <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
</div>

<div class="line"></div>

<div class="container">
  <div class="question">How do the students know where they will work?</div>
  <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
</div>

<div class="line"></div>

<div class="container">
    <div class="question">How will the students get to work on the first day?</div>
    <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
  </div>

<div class="line"></div>


<div class="container">
    <div class="question">What does host family supply?</div>
    <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
  </div>

<div class="line"></div>

<div class="container">
    <div class="question">Do I need to bring my own hairdryer?</div>
    <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
  </div>

<div class="line"></div>


<div class="container">
    <div class="question">Do I have to bring my own hair straightener</div>
    <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
  </div>

<div class="line"></div>


<div class="container">
    <div class="question">Do I have to bring my own towels</div>
    <div class="answer">cos tam cos pierdolenie po angielsku, dbrua dobrua coorwa</div>
  </div>
