:host{
  display: flex;
  width: 83%;
  height:89%;
  border: var(--border) solid white;
  margin-top: 4.8%;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 18px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 8.3vw;
  --border:0px;
  animation: 0.5s linear show;
}
@media only screen and (max-width: 700px){
  :host{
    margin-top: 16%!important;
  }
  .container{
    height: auto!important;
  }
}

@keyframes show {
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}
.header{
  text-align: center;
  font-size: 50px!important;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.container{
  width: 90%;
  height: 25%;
  border: var(--border) solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 5px;
}
.question{
  text-align: center;
  font-size: 30px!important;
  width: 100%;
  border: var(--border) solid white;
  box-sizing: border-box;
  margin-top: 10px;
}
.answer{
  width: 90%;
  border: var(--border) solid white;
  box-sizing: border-box;
  text-align: left;
  font-size: 20px;
  position: relative;
  left: -3%;
  padding: 19px;
  transition-duration:0.1s;
  box-sizing: border-box;
}
.container:hover{
  background: rgba(0,0,0,0.7);
}
.line{
  width: 92%;
  height: 2px;
  background: #ed0000;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px #ED0000;
  box-shadow: 0px 0px 10px 0px #ED0000;
}
