:host{
  display: block;
  width: 90%;
  height: 100%;
  color: white;
  padding-top: calc(42px + 2vw);
  font-family: sans-serif;
  margin-left: 5%;
  box-sizing: border-box;
  display: flex;
  animation: linear 0.5s show;
  flex-wrap: wrap;
}

@keyframes show {
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}
h1{
  margin-bottom: 30px;
}

h2{
  margin-bottom: 15px;
}
#left{
  width: calc(350px + 3vw);
  padding-top: 50px;
}
#right{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  animation: linear 1.5s show;
}
a, a:visited{
  color: white;
}
