<app-navbar></app-navbar>

  <div [ngStyle]="{'background-image': 'url(' + photo + ')'}" class="photo"></div>

  <div [ngClass]="homeboll?'':'wide'" class="left-container">
      <app-homepage *ngIf="homeboll"></app-homepage>
      <app-aboutus  *ngIf="list[0]" ></app-aboutus>
      <app-services *ngIf="list[1]" ></app-services>
      <app-contact  *ngIf="list[2]" ></app-contact>
      <app-gallery *ngIf="list[3]"></app-gallery>
      <app-faq *ngIf="list[4]"></app-faq>
    <div [ngClass]="homeboll?'right-sided':''" (click)="shower(0)" class="about-us-tab tab">About us</div>
    <div [ngClass]="homeboll?'right-sided':''" (click)="shower(1)" class="services-tab tab">Services</div>
    <div [ngClass]="homeboll?'right-sided':''" (click)="shower(2)" class="contact-tab tab">Contact</div>
    <div [ngClass]="homeboll?'right-sided':''" (click)="shower(3)" class="gallery-tab tab">Gallery</div>
    <div [ngClass]="homeboll?'right-sided':''" (click)="shower(4)" class="faq-tab tab">FAQ</div>
  </div>


