<div class="long">
  <h1>Internship's</h1>
  <p>Internships are valuable, even for short periods. We offer internships from 2 - 13 weeks, get in touch so that we can tailor your visit to your budget. We are ready to accommodate students in many sectors including Tourism, Food & Beverage, Retail, IT's, Administration and many more...
    Our host companies are waiting for international students of all levels. YIT’s network is vast, providing internships in many fields. Whether you are an Agent, School or University, finding a student their perfect internship comes with experience.</p>
</div>

<div class="transport-and-training">
  <div class="training">
    <h2>Training and preparation</h2>
    <p>We can provide preparatory Cultural classes for work placement. Classes concentrate on the speaking and listening skills which prepare candidates to work in a English language speaking environment.
  </div>
  <div class="transport">
    <h2>Airport transfers</h2>
    <p>We arrange everything from the moment of landing to the moment of departure. Airport transfers consist of public or private collection depending on the size of your group. Please contact us for more detailed information
  </div>
</div>

<div class="accomodation">
  <h2>Accomodation</h2>
  <p><b>Host Family – Full Board</b></p>
  <p>Host Family Full Board accommodation is generally in shared rooms and includes breakfast, packed lunch and evening meal 7 days a week. The Students will share a kitchen, bathroom and living room with the family and other students.  Please note that Host Families are in safe areas within easy travelling distance of the YIT office, town center and a public transport for easy access to work placements. We choose our Host Families with great care and we regularly inspect the standards and quality of their homes, ensuring that accommodation is comfortable, clean, save, and meet the students' needs. All our Host Families provide light laundry and WIFI</div>
<div class="space">  </div>
